/* Default styles (apply to all screen sizes unless overridden) */
body {
  margin: 0;
  padding: 0;
}

.container-game {
  min-height: 100vh; /* Use min-height for flexibility */
  width: 100%;
  background-image: url('/images/game/bg-game.webp');
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.play-area-game {
    display: flex;
    flex-direction: row;
    height: 60vh;
    width: 100%;
}

.card-area-game {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 100%;
}

.dummy-card-game > img {
    width: 100%;
    height: 100%;
}

.cd-text {
    color: white;
    transform: rotate(-45deg);
    transform-origin: center;
    font-family: "League Spartan", sans-serif;
    font-size: 0.7em;
    font-weight: bold;
}

.rtd-text {
    color: #32929A;
    transform: rotate(-45deg);
    font-family: "League Spartan", sans-serif;
    font-size: 0.7em;
    font-weight: bold;
}

.opponent-play-game {
    height: 50%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.player-play-game {
    height: 50%;
    display: flex;
    align-items: start;
    justify-content: center;
}

.pl-text {
    color: #32929A;
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    transform: rotate(-45deg);
}

.left-view-game {
    width: 25%;
    display: flex;
    flex-direction: column-reverse;
}

.right-view-game {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.bar-player-game img, .bar-opponent-game img {
    opacity: 0.4;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hp-left-game {
    width: calc(100% * 6/8);
    height: 100%;
    background-color: rgb(234, 5, 5);
}

:is(.player-play-game, .opponent-play-game) img {
    height: 100%;
    width: 100%;
}

.dummy-played-game > i:focus {
    display: flex;
}

.dummy-played-game:hover > i {
    display: flex;
}
/* Media query for smaller screens (e.g., mobile phones) */
@media (max-width: 768px) {
  .container-game {
    /* Add styles for container here */
  }
  .play-area-game {
    /* Add styles for play area here */
  }
  .left-menu-game {
    /* Add styles for left menu here */
  }
  /* ... (Add styles for other elements) ... */
}

/* Media query for medium screens (e.g., tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
    .left-menu-game {
        width: 12.5%;
        background-color: rgb(50, 146, 154, 0.7);
        height: 15vw;
        border-bottom-right-radius: 50px;
    }

    .center-view-game {
        height: 100%;
        width: 25%;
    }

    .right-menu-game {
        width: calc(12.5% - 40px);
        background-color: rgb(50, 146, 154, 0.7);
        height: calc(15vw - 20px);
        border-bottom-left-radius: 50px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-container-game {
        background-color: rgb(50, 146, 154);
        height: 70%;
        width: 70%;
        border-radius: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 20px;
    }

    .cooldown-player-game {
        width: 25%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 0 0 40px;
    }

    .card-ready-game {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .right-card-container-game {
        width: 25%;
        height: 100%;
    }

    .dummy-cooldown-game {
        --height: 20vh;
        width: calc(5/8 * var(--height));
        height: var(--height);
        border-radius: 20px;
        background-color: #90959A;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .right-menu-game .dummy-cooldown-game {
        --height: 20vw;
        height: calc(8/13, * var(--height));
        width: var(--height);
    }

    .dummy-card-game {
        --height: 20vh;
        width: calc(5/8 * var(--height));
        height:var(--height);
        background-color: #EEE4DA;
        margin: 0 5px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        cursor: pointer;
    }

    .menu-settings-game {
        height: 60%;
        display: flex;
        align-items: center;
    }

    .menu-settings-game > i {
        background-color: #EA8F40;
        padding: 10%;
        border-radius: 50%;
        color: #32929A;
        font-size: 4vw;
        margin: 10px;
    }

    .menu-history-game {
        height: 20%;
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .menu-history-game > i {
        background-color: #EA8F40;
        padding: 5%;
        border-radius: 50%;
        font-size: 2vw;
        color: #32929A;
    }

    .dummy-played-game {
        margin: 10px;
        --height: 26vh;
        height: var(--height);
        width: calc(5/8 * var(--height));
        background-color: #EEE4DA;
        border-radius: 20px;
        box-shadow: rgb(175, 166, 156, 0.5) 8px 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
    }

    .bar-player-game {
        background-color: #90959A;
        height: 20px;
        width: 100%;
        border-radius: 20px;
        margin: 20px 10px;
        overflow: hidden;
        position: relative;
    }

    .bar-opponent-game {
        background-color: #90959A;
        height: 20px;
        width: 100%;
        border-radius: 20px;
        margin: 20px 10px;
        overflow: hidden;
        position: relative;
    }

    .opponent-name-game, .player-name-game {
        margin: 0 20px;
        font-family: 'League Spartan', sans-serif;
        font-weight: bold;
        color: white;
        font-size: 30px;
        text-shadow: 3px 2px black;
    }

    .player-effect-game {
        height: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        flex-direction: row;
    }

    .opponent-effect-game {
        height: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        flex-direction: row-reverse;
    }

    .dummy-card-game.hidden {
        display: none;
    }

    .dummy-played-game > i {
        opacity: 0.8;
        position: absolute;
        width: 50px;
        height: 50px;
         border-radius: 50%;
        background-color: white;
        display: flex;
        color: rgb(50, 146, 154, 0.7);
        align-items: center;
        justify-content: center;
        font-size: 50px;
        font-weight: bold;
        display: none;
        cursor: pointer;
    }
}

/* Media query for larger screens (e.g., desktops) */
@media (min-width: 1024px) {
    .left-menu-game {
        width: 12.5%;
        background-color: rgb(50, 146, 154, 0.7);
        height: 15vw;
        border-bottom-right-radius: 50px;
    }

    .center-view-game {
        height: 100%;
        width: 25%;
    }

    .right-menu-game {
        width: calc(12.5% - 40px);
        background-color: rgb(50, 146, 154, 0.7);
        height: calc(15vw - 20px);
        border-bottom-left-radius: 50px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-container-game {
        background-color: rgb(50, 146, 154);
        height: 70%;
        width: 70%;
        border-radius: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 20px;
    }

    .cooldown-player-game {
        width: 25%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 0 0 40px;
    }

    .card-ready-game {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .right-card-container-game {
        width: 25%;
        height: 100%;
    }

    .dummy-cooldown-game {
        --height: 20vh;
        width: calc(5/8 * var(--height));
        height: var(--height);
        border-radius: 20px;
        background-color: #90959A;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dummy-card-game {
        --height: 20vh;
        width: calc(5/8 * var(--height));
        height:var(--height);
        background-color: #EEE4DA;
        margin: 0 5px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        cursor: pointer;
    }

    .menu-settings-game {
        height: 60%;
        display: flex;
        align-items: center;
    }

    .menu-settings-game > i {
        background-color: #EA8F40;
        padding: 10%;
        border-radius: 50%;
        color: #32929A;
        font-size: 4vw;
        margin: 10px;
    }

    .menu-history-game {
        height: 20%;
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .menu-history-game > i {
        background-color: #EA8F40;
        padding: 5%;
        border-radius: 50%;
        font-size: 2vw;
        color: #32929A;
    }

    .dummy-played-game {
        margin: 10px;
        --height: 26vh;
        height: var(--height);
        width: calc(5/8 * var(--height));
        background-color: #EEE4DA;
        border-radius: 20px;
        box-shadow: rgb(175, 166, 156, 0.5) 8px 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
    }

    .bar-player-game {
        background-color: #90959A;
        height: 20px;
        width: 100%;
        border-radius: 20px;
        margin: 20px 10px;
        overflow: hidden;
        position: relative;
    }

    .bar-opponent-game {
        background-color: #90959A;
        height: 20px;
        width: 100%;
        border-radius: 20px;
        margin: 20px 10px;
        overflow: hidden;
        position: relative;
    }

    .opponent-name-game, .player-name-game {
        margin: 0 20px;
        font-family: 'League Spartan', sans-serif;
        font-weight: bold;
        color: white;
        font-size: 30px;
        text-shadow: 3px 2px black;
    }

    .player-effect-game {
        height: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        flex-direction: row;
    }

    .opponent-effect-game {
        height: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        flex-direction: row-reverse;
    }

    .dummy-card-game.hidden {
        display: none;
    }

    .dummy-played-game > i {
        opacity: 0.8;
        position: absolute;
        width: 50px;
        height: 50px;
         border-radius: 50%;
        background-color: white;
        display: flex;
        color: rgb(50, 146, 154, 0.7);
        align-items: center;
        justify-content: center;
        font-size: 50px;
        font-weight: bold;
        display: none;
        cursor: pointer;
    }

}
/*
@media (min-width: 1440px) {
    .left-menu-game {
        width: 12.5%;
        background-color: rgb(50, 146, 154, 0.7);
        height: 50%;
        border-bottom-right-radius: 50px;
    }

    .center-view-game {
        height: 100%;
        width: 25%;
    }

    .right-menu-game {
        width: calc(12.5% - 40px);
        background-color: rgb(50, 146, 154, 0.7);
        height: calc(50% - 20px);
        border-bottom-left-radius: 50px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-container-game {
        background-color: rgb(50, 146, 154);
        height: 70%;
        width: 70%;
        border-radius: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 20px;
    }

    .cooldown-player-game {
        width: 25%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 0 0 40px;
    }

    .card-ready-game {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .right-card-container-game {
        width: 25%;
        height: 100%;
    }

    .dummy-cooldown-game {
        width: calc(5/8 * 125px);
        height: 125px;
        border-radius: 10px;
        background-color: #90959A;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dummy-card-game {
        width: calc(5/8 * 125px);
        height:125px;
        background-color: #EEE4DA;
        margin: 0 5px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        cursor: pointer;
    }

    .menu-settings-game {
        height: 60%;
        display: flex;
        align-items: center;
    }

    .menu-settings-game > i {
        background-color: #EA8F40;
        padding: 14%;
        border-radius: 50%;
        color: #32929A;
        font-size: xx-large;
        margin: 10px;
    }

    .menu-history-game {
        height: 20%;
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .menu-history-game > i {
        background-color: #EA8F40;
        padding: 10%;
        border-radius: 50%;
        color: #32929A;
    }

    .dummy-played-game {
        margin: 10px;
        width: calc(5/8 * 160px);
        height: 160px;
        background-color: #EEE4DA;
        border-radius: 20px;
        box-shadow: rgb(175, 166, 156, 0.5) 8px 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
    }

    .bar-player-game {
        background-color: #90959A;
        height: 20px;
        width: 100%;
        border-radius: 20px;
        margin: 20px 10px;
        overflow: hidden;
        position: relative;
    }

    .bar-opponent-game {
        background-color: #90959A;
        height: 20px;
        width: 100%;
        border-radius: 20px;
        margin: 20px 10px;
        overflow: hidden;
        position: relative;
    }

    .opponent-name-game, .player-name-game {
        margin: 0 20px;
        font-family: 'League Spartan', sans-serif;
        font-weight: bold;
        color: white;
        font-size: 40px;
        text-shadow: 3px 2px black;
    }

    .player-effect-game {
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        flex-direction: row;
    }

    .opponent-effect-game {
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        flex-direction: row-reverse;
    }

    .dummy-card-game.hidden {
        display: none;
    }

    .dummy-played-game > i {
        opacity: 0.8;
        position: absolute;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        color: rgb(50, 146, 154, 0.7);
        align-items: center;
        justify-content: center;
        font-size: 55px;
        font-weight: bold;
        display: none;
        cursor: pointer;
    }

}

@media (min-width: 1600px) {
    .left-menu-game {
        width: 12.5%;
        background-color: rgb(50, 146, 154, 0.7);
        height: 50%;
        border-bottom-right-radius: 50px;
    }

    .center-view-game {
        height: 100%;
        width: 25%;
    }

    .right-menu-game {
        width: calc(12.5% - 40px);
        background-color: rgb(50, 146, 154, 0.7);
        height: calc(50% - 20px);
        border-bottom-left-radius: 50px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-container-game {
        background-color: rgb(50, 146, 154);
        height: 70%;
        width: 70%;
        border-radius: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 20px;
    }

    .cooldown-player-game {
        width: 25%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 0 0 40px;
    }

    .card-ready-game {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .right-card-container-game {
        width: 25%;
        height: 100%;
    }

    .dummy-cooldown-game {
        width: calc(5/8 * 155px);
        height: 155px;
        border-radius: 10px;
        background-color: #90959A;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dummy-card-game {
        width: calc(5/8 * 125px);
        height:125px;
        background-color: #EEE4DA;
        margin: 0 5px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        cursor: pointer;
    }

    .menu-settings-game {
        height: 60%;
        display: flex;
        align-items: center;
    }

    .menu-settings-game > i {
        background-color: #EA8F40;
        padding: 14%;
        border-radius: 50%;
        color: #32929A;
        font-size: xx-large;
        margin: 10px;
    }

    .menu-history-game {
        height: 20%;
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .menu-history-game > i {
        background-color: #EA8F40;
        padding: 10%;
        border-radius: 50%;
        color: #32929A;
    }

    .dummy-played-game {
        margin: 10px;
        width: calc(5/8 * 160px);
        height: 160px;
        background-color: #EEE4DA;
        border-radius: 20px;
        box-shadow: rgb(175, 166, 156, 0.5) 8px 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
    }

    .bar-player-game {
        background-color: #90959A;
        height: 20px;
        width: 100%;
        border-radius: 20px;
        margin: 20px 10px;
        overflow: hidden;
        position: relative;
    }

    .bar-opponent-game {
        background-color: #90959A;
        height: 20px;
        width: 100%;
        border-radius: 20px;
        margin: 20px 10px;
        overflow: hidden;
        position: relative;
    }

    .opponent-name-game, .player-name-game {
        margin: 0 20px;
        font-family: 'League Spartan', sans-serif;
        font-weight: bold;
        color: white;
        font-size: 40px;
        text-shadow: 3px 2px black;
    }

    .player-effect-game {
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        flex-direction: row;
    }

    .opponent-effect-game {
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        flex-direction: row-reverse;
    }

    .dummy-card-game.hidden {
        display: none;
    }

    .dummy-played-game > i {
        opacity: 0.8;
        position: absolute;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        color: rgb(50, 146, 154, 0.7);
        align-items: center;
        justify-content: center;
        font-size: 55px;
        font-weight: bold;
        display: none;
        cursor: pointer;
    }

} */
