@media (min-width: 1024px) {


    .center-view-game {
        height: 100%;
        width: 25%;
    }

    .right-menu-game {
        width: calc(12.5% - 40px);
        background-color: rgb(42, 46, 48, 0.7);
        height: calc(15vw - 20px);
        border-bottom-left-radius: 50px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-ready-game {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .right-card-container-game {
        width: 25%;
        height: 100%;
    }

    .dummy-card-game {
        --height: 20vh;
        width: calc(5/8 * var(--height));
        height:var(--height);
    }

    .dummy-played-game {
        margin: 10px;
        --height: 26vh;
        height: var(--height);
        width: calc(5/8 * var(--height));
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        box-shadow: rgb(175, 166, 156, 0.5) 8px 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
    }

    .bar-player-game {
        background-color: rgb(255, 255, 255, 0.64);
        height: 20px;
        width: 100%;
        border-radius: 20px;
        margin: 20px 10px;
        overflow: hidden;
        position: relative;
    }

    .bar-opponent-game {
        background-color: rgb(255, 255, 255, 0.64);
        height: 20px;
        width: 100%;
        border-radius: 20px;
        margin: 20px 10px;
        overflow: hidden;
        position: relative;
    }

    .opponent-name-game, .player-name-game {
        margin: 0 20px;
        font-family: 'League Spartan', sans-serif;
        font-weight: bold;
        color: rgb(255, 255, 255);
        font-size: 30px;
        text-shadow: 3px 2px black;
    }

    .player-effect-game {
        height: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        flex-direction: row;
    }

    .opponent-effect-game {
        height: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        flex-direction: row-reverse;
    }

}
