@media (min-width: 0) and (max-width: 767.9px) {
    .play-area-game {
        position: relative;
    }

    .left-menu-container {
        width: 25vw;
        max-width: 63.7917px;
        height: 17vh;
        border-bottom-right-radius: 30px;
    }

    .left-menu-game {
        border-bottom-right-radius: 30px;
    }

    .left-box {
        width: 25vw;
        max-width: 63.7917px;
        height: 17vh;
    }

    .right-menu-game {
        max-width: calc(154.292px - 40px);
        width: calc(35vw - 40px);
        background-color: rgb(42, 46, 48, 0.7);
        height: calc(35vh - 20px);
        border-bottom-left-radius: 50px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .history-box {
        left: 63.7917px;
    }

    .center-view-game {
        --margin-left: 15vw;
        margin: 15% 0 0 var(--margin-left);
        width: 50vw;
        min-width: calc(100vw - 63.7917px - 154.292px - var(--margin-left));
    }

    .left-view-game {
        position: absolute;
        width: 25vw;
        bottom: 0;
    }

    .right-view-game {
        position: absolute;
        right: calc(154.292px);
    }

    @media (max-width: 500px) {
        .right-view-game {
            right: calc(35vw - 10px);
        }
    }

    .cooldown-player-game {
        display: none;
    }

    .card-ready-game {
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-area-game {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 40vh;
        width: 100%;
    }

    .card-container-game {
        background-image: url('/images/game/card-container-game.webp');
        background-size: 100% 100%;
        background-color: transparent;
        height: 100%;
        width: 100%;
        border-radius: 0;
        align-items: flex-end;
        padding: 0;
    }

    .right-card-container-game {
        display: none;
    }

    .dummy-cooldown-game {
        border-radius: 10px;
    }

    .dummy-card-game {
        --width: 25vw;
        width: calc(5/8 * var(--width));
        height:var(--width);
        max-width: 62.25px;
        max-height: 99.5938px;
    }

    .menu-history-game {
        height: calc(20% - 20px);
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .menu-history-game > i {
        padding: 10%;
        font-size: 2.5vh;
    }

    .dummy-played-game {
        margin: 10px;
        --height: 20vh;
        height: var(--height);
        width: calc(5/8 * var(--height));
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: rgb(175, 166, 156, 0.7) 5px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
    }

    .bar-player-game {
        background-color: rgb(255, 255, 255, 0.8);
        height: 3.5vw;
        width: 33vw;
        border-radius: 20px;
        margin: 5px 0 20px 10px;
        overflow: hidden;
        position: relative;
    }

    .bar-opponent-game {
        background-color: rgb(255, 255, 255, 0.8);
        height: 3.5vw;
        width: 35vw;
        border-radius: 20px;
        margin: 20px 10px 5px 0;
        overflow: hidden;
        position: relative;
    }

    .opponent-name-game, .player-name-game {
        margin: 0 15px;
        font-family: 'League Spartan', sans-serif;
        font-weight: bold;
        color: rgb(255, 255, 255);
        font-size: 3vh;
        text-shadow: 3px 2px black;
    }

    .player-effect-game {
        height: 2vh;
        font-size: 2vh;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 0 0 0 15px ;
    }

    .opponent-effect-game {
        height: 2vh;
        font-size: 2vh;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        padding: 0 15px 0 0;
    }

    .dummy-card-game.hidden, .dummy-card-game.cooldown {
        display: flex;
        opacity: 0.3;
    }

    .dummy-played-game i {
        position: absolute;
        width: var(--icon-size);
        height: var(--icon-size);
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        display: flex;
        color: rgb(42, 46, 48, 0.7);
        align-items: center;
        justify-content: center;
        font-size: calc(160%);
        font-weight: bold;
        display: none;
        cursor: pointer;
    }

    .timer-game, .menu-section-1, .menu-section-2, .menu-section-3 {
        font-size: 1.5rem;
        padding: 2% 5%;
        width: 80vw;
    }

    .menu-section-1, .menu-section-2, .menu-section-3 {
        background-color: #2a2e30;
        color: white;
    }
}
